<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Lemo.ControlConsumo" android:installLocation="auto" android:versionName="2.6.0" android:versionCode="2">
	<uses-sdk android:targetSdkVersion="23" />
	<application android:label="ControlConsumo" android:allowBackup="true" android:largeHeap="true" android:icon="@drawable/Logo" android:theme="@style/AppTheme"></application>
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.REBOOT" />
</manifest>